.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: auto;
  margin: 1rem;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-button svg {
  width: 20px;
  height: 20px;
}
